In [1]:
#Q.1 write a code to reverse a string
s='pwskills'
s[::-1]

'sllikswp'

In [7]:
#Q.2 write a code to count the number of vowels in a string
s='pwskills'
vowels=0
for i in s:
    if 'a' in i or 'e' in i or'i' in i or 'o' in i or 'u' in i:
        vowels+=1
        print('the number of vowels in a string is :', vowels)

the number of vowels in a string is : 1

In [8]:
#Q.3 write a code to check if a given string is a palindrome or not
s=input('enter words')
if s==s[::-1]:
    print('yes your string is palindrome')
else:
    print('this string is not palindrome')

enter words nitin

yes your string is palindrome

In [10]:
#Q.4 write a code to check if two given strings are anagrams to each other
s1=input('enter first string')
s2=input('enter second string')
if s1 in s2:
    print('both strings are anagram to each other')
else:
    print('both strings are not anagrams to each other')

enter first string listen
enter second string silent

both strings are not anagrams to each other

In [14]:
#Q.5 write a code to find all occurences of a given substring within another string
string=input('enter string')
substring=input('enter substring')
count=string.count(substring)
print('my substring occurence is', count ,'times')

enter string this is a great platform
enter substring great platform

my substring occurence is 1 times

In [5]:
#Q.6 write a code to perform basic string compression using the counts of repeated charcters
from itertools import groupby
s='aabbbccc'
''.join(k + str(sum(1 for x in g)) for k,g in groupby(s))

'a2b3c3'

In [48]:
#Q.7 write a code to determine if a string has all unioque charcters
string='RAUNAK GUPTA'
for i in range(len(string)):
    if string[i]==string[i-1]:
        print('this has all unique characters')
    else:
        print('all characters are not unique')

all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique
all characters are not unique

In [36]:
#Q.8 write a code  to convert a given string to uppercase or lowercase
s='great job'
s.upper()

'GREAT JOB'

In [33]:
s.lower()

'great job'

In [40]:
#Q.10 write a code to concatenate two strings without using + operator
str1='hello'
str2='raunak'
print(str1,str2)

hello raunak

In [51]:
#Q.9 write a code to count the number of words in a string
s='pwskills'
p=len(s)
p

8

In [41]:
#Q.11 write a code to rempove all occurences of a specific element from a list
list=[1,78,22,66,22,7,9]
value=22
for i in list:
    if value in list:
        list.remove(value)
list

[1, 78, 66, 7, 9]

In [49]:
#Q.12 implement a code to find the second largest number in a given list of integers
list=[6,3,1,0,99,86,89]
list.sort()
print('second largest number is', list[-2])

second largest number is 89

In [55]:
#Q.13 create a code to count the occurences of each element in alist and return a dictionary with element as keys and their counts as values
from collections import Counter
def lst(list1):
    return Counter(list1)

In [58]:
lst(['apple','apple','apple','litchi','litchi','guava','guava'])

Counter({'apple': 3, 'litchi': 2, 'guava': 2})

In [55]:
#Q.14 write a code to reverse a list in place without using any built_in reverse function
list=[1,8,34,6,7,'great']
list[::-1]

['great', 7, 6, 34, 8, 1]

In [65]:
#Q.15 implement a code to find and remove duplicates from a list while preserving the original order of elements.
def remove_duplicates(lst):
    seen = set()
    seen_add = seen.add
    return[x for x in lst if not(x in seen or seen_add(x))]
remove_duplicates([7,8,9,7,7,8,8])

[7, 8, 9]

In [31]:
#Q.16 create a code to check if a given list is sorted(either in ascending or descending order) or not
list=[9,3,4,5,0,2]
if sorted(list):
    print('sorted')

else:
    print('not sorted')

sorted

In [24]:
sort([5,6,7,8,9])
sort

In [20]:
#Q.17 write a code to merge two sorted list into a single sorted list
L1=[9,8,5,6]
L2=[1,5,3,2]
sorted(L1+L2)

[1, 2, 3, 5, 5, 6, 8, 9]

In [13]:
#Q.18 implement a code to find the intrsection of two given lists
list1=[9,0,3,5,6]
list2=[0,8,9,3,4,5]
intersection=set(list1) & set(list2)
list(intersection)

[0, 9, 3, 5]

In [17]:
#Q.19 Create code to find the union of two lists without duplicate
list1=[2,43,54,45]
list2=[43,54,34,23]
union=set(list1).union(set(list2))
list(union)

[2, 34, 43, 45, 54, 23]

In [93]:
#Q.20 write a code to shuffle a given list randomly without using any built_in shuffle functions.
import random
def custom_shuffle(lst):
    return sorted(lst,key=lambda x:random.random())

In [94]:
custom_shuffle([9,6,54,56,77,443])

[56, 9, 443, 54, 77, 6]

In [3]:
#Q.21 write a code that takles two tuples as input and returns a new tuple containing element that are common to both input tuples.
tup1=tuple(input('enter first tuple'))
tup2=tuple(input('enter second tuple'))
p=set(tup1).intersection(set(tup2))
tuple(p)

enter first tuple 478
enter second tuple 687

('8', '7')

In [109]:
#Q.22 create a code taht prompts the user to enter two sets of integers seperated by commas. then print the intersection of these two sets
set1=set(input('enter first set'))
set2=set(input('enter second set'))
set(set1)
set(set2)
set1 & set2

enter first set 7,8,9,9,0
enter second set 5,7,8,9,6

{',', '7', '8', '9'}

In [80]:
#QQ.28 .create a code that defines two sets of integers then print the union ,intersection,and differnce pf these two sets
s1={5,4,47}
s2={4,34,45}
print("intersection",s1 & s2)
print("union",s1 | s2)
print("difference",s1 - s2)

intersection {4}
union {34, 4, 5, 45, 47}
difference {5, 47}

In [18]:
#Q.29 write a code that takes a tuple and an elemnets as input .the function should return the count of occurrenes of the given element in the tuple
def count_occurrences(tup,element):
    return tup.count(element)

In [19]:
count_occurrences((8,8,8,9,0,7,6),8)

3

In [4]:
#Q.30 develop a code that prompts the user to input two sets of strings . then,print the symmetric diffrence of these two sets
s1=set(input("enter string1"))
s2=set(input("enter string2"))
s1^s2#symmetric difference

enter string1 'rajesh'
enter string2 'mukesh'

{'a', 'j', 'k', 'm', 'r', 'u'}

In [32]:
#Q.31 write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
from collections import Counter
def word_frequencies(word_list):
    return Counter(word_list)

In [33]:
word_frequencies(['RAUNAK','SHYAMA','GAYTRI','RAUNAK','SHYAMA','GAYTRI'])

Counter({'RAUNAK': 2, 'SHYAMA': 2, 'GAYTRI': 2})

In [17]:
#Q.32 write a code that takes two dictionaries as input and merges them into a single dictionary. if there are common keys , the values shoukld be added togerher
from collections import Counter
def merged(dict1,dict2):
    #convert both dictionaries to counter objects
    #counter automatically adds up same key's values
    counter1=Counter(dict1)
    counter2=Counter(dict2)
    #add two counter objects
    merge_counter=counter1+counter2
    return dict(merge_counter)
#example usage
dict1={'a':0,'b':45,'c':90}
dict2={'d':8,'a':78,'c':89}
merged_dict=merged(dict1,dict2)
print(merged_dict)

{'a': 78, 'b': 45, 'c': 179, 'd': 8}

In [42]:
#Q.33 write a code to access a value in a nested dictionary . the funtion should take the dictionary and a list of keys as input , and return the corresponding value. if any of the keys do not exist in the dictionary ,the function should return none
def get_nested_value(nested_dict,keys):
    """
    retrieve a value from anested dictionary using a list of keys.
    parameters:
    nested_list(dict):the dictionaqry to retrieve the value from.
    keys(list)the list of keys esed to traverse a dictinary.
    rteurns:
    the value corresponding to the nested keys, or none if sny key does not exist.
    """
    current_level = nested_dict
    for key in keys:
        if isinstance(current_level,dict) and key in current_level:
            current_level = current_level[key]
        else:
                return none
    return current_level

In [8]:
get_nested_value({'a':{'b':{'c':1}},'d':2},['a','b','c'])

1

In [4]:
#Q.34 write a code that takes a dictionary as input and return a sorted version of it baseed on the values . you can choose whether bto sort in ascending or descending order
def sort_dict_by_value(input_dict,ascending=True):
    sorted_dict=dict(sorted(input_dict.items(),key=lambda item: item[1] ,reverse=not ascending))
    return sorted_dict

In [5]:
sort_dict_by_value({'a':8,'n':9,'f':2})

{'f': 2, 'a': 8, 'n': 9}

In [111]:
#Q.35 write a code that inverts a dictionary , swapping keys and values . ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary
def invert_dictionary(original_dict):
    invert_dict={}
    for key , value in original_dict.items():
        if value in invert_dict:
            #if the value is already a key in inverted_dict then append the key to the list
            invert_dict[value].append(key)
        else:
            #otherwise create a new list with the key
            invert_dict[value]=[key]
    return invert_dict

In [27]:
invert_dictionary({'s':89,'j':856,'o':87})

{89: ['s'], 856: ['j'], 87: ['o']}

In [8]:
#Q.23 write a code to concatenate two tupkles .the function should take two tuples as input and return a new tuple containing elements from both input tuples
def concat(tup1,tup2):
    p=tup1+tup2
    return p

In [9]:
concat((1,6,7,89,9),(7,8,9,4,3,5))

(1, 6, 7, 89, 9, 7, 8, 9, 4, 3, 5)

In [10]:
#Q.24 develop a code that prompts the user to input two sets of strings .then print the elements that are present in the first set but not in the second set
s1=set(input('enter your first set'))
s2=set(input('enter your second set'))
print(s1-s2)

enter your first set {'g','k','l','r'}
enter your second set {'h','g','l'}

{'k', 'r'}

In [18]:
#Q.25 create a code that takes a tuple and two integers as input . the function should return a new tuple containing elements from the original tuple within the specified range of indices
def tup(tuple1,start_index,end_index):
    if start_index>0 and end_index>=len(tuple1):
        return()
    return tuple1[start_index:end_index]

In [19]:
tup(('p','w','s','k','i','l','l','s'),4,7)

('i', 'l', 'l')

In [13]:
#Q.26 create a code that prompts the user to input two sets of characters.then print the union of these two sets
s1=set(input('enter your first set'))
s2=set(input('enter your second set'))
s1.union(s2)

enter your first set {'a','g','k','h'}
enter your second set {'h','l','k'}

{"'", ',', 'a', 'g', 'h', 'k', 'l', '{', '}'}

In [14]:
#Q.27 develop a code that takes a tuple of integers as input .the function should return the maximum and minimumvalues from the tuple using tuple unpackimg
def find_max_min(input_tuple):
    max_value=max(input_tuple)
    min_value=min(input_tuple)
    return max_value, min_value

In [15]:
find_max_min((1,6,7,8,9))

(9, 1)